<div class="container p-4">
   
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner d-flex align-items-center justify-content-center" style="height: 80vh;"> 
         <!-- <img src="assets/logo.png" alt="Logo" width="500"> -->
         <div class="container-fluid p-4 home-page">
         <!-- <div class="container my-5"> -->
          <!-- Título -->
          <div class="text-center mb-5">
            <h1 class="display-5 fw-bold text-primary">Bem-vindo ao SIQ</h1>
            <p class="lead text-secondary">Conheça mais sobre nossa Visão, Missão e Valores</p>
          </div>
        
          <div class="info-section">
            <div class="info-card">
              <div class="info-icon">
                <i class="bi bi-bullseye"></i>
              </div>
              <h3>Missão</h3>
              <p>Inspirar sonhos e vitórias – *Inspiring Dreams and Victories.*</p>
            </div>
            <div class="info-card">
              <div class="info-icon">
                <i class="bi bi-eye-fill"></i>
              </div>
              <h3>Visão</h3>
              <p>Ser referência no mercado pela agilidade, flexibilidade, qualidade e relacionamento.</p>
            </div>
            <div class="info-card">
              <div class="info-icon">
                <i class="bi bi-gem"></i>
              </div>
              <h3>Valores</h3>
              <ul>
                <li>Respeito ao ser humano</li>
                <li>Gestão compartilhada</li>
                <li>Foco nos resultados</li>
                <li>Transparência</li>
                <li>Melhoria contínua com inovação</li>
              </ul>
            </div>
          </div>
            <!-- Valores -->
            <!-- <div class="col-md-6 col-lg-4">
              <div class="p-4 border rounded shadow-sm">
                <i class="bi bi-heart-fill text-danger" style="font-size: 2rem;"></i>
                <h3 class="mt-3">Valores</h3>
                <ul class="list-unstyled text-muted">
                  <li>Respeito ao ser humano</li>
                  <li>Gestão compartilhada</li>
                  <li>Foco nos resultados</li>
                  <li>Transparência</li>
                  <li>Melhoria contínua com inovação</li>
                </ul>
              </div>
            </div>
          </div> -->
        
          <!-- Proposta -->
          <!-- <div class="mt-5 p-4 bg-light rounded text-center">
            <h2 class="text-primary fw-bold">Valores</h2>
            <ul class="list-unstyled text-muted">
              <li><span class="fw-bold">Respeito ao ser humano: </span> valorizamos cada um de nossos parceiros, acreditamos em nossos colaboradores e prezamos pela inclusão e diversidade.</li>
              <li><span class="fw-bold"> Gestão compartilhada:</span> somos uma empresa sustentável que respeita o meio ambiente, apoia e promove o desenvolvimento da comunidade.</li>
              <li><span class="fw-bold"> Foco nos resultados:</span> superar as expectativas dos parceiros, promovendo sua fidelização e retorno aos investidores.</li>
              <li><span class="fw-bold"> Transparência:</span> atuamos com ética, governança e boas práticas.</li>
              <li><span class="fw-bold"> Melhoria contínua com inovação:</span> aprendemos com os erros, visamos sempre os melhores resultados, mais eficazes e inovadores. </li>
            </ul>
          </div> -->
          <div class="mt-5 p-4 bg-light rounded text-center">
            <h2 class="text-primary fw-bold">Nossa Proposta</h2>
            <p class="text-muted">
              Confeccionar e desenvolver experiências de alta performance que promovam paixão, auto estima e bem-estar.
            </p>
          </div>

          <div class="mt-5 text-center  p-2">
            <img src="assets/logo.png" alt="Logo" width="300">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>

  <!-- 
    Comum às áreas - ok
    Passadoria - ok
    Sewtech
    Atendimento ao Cliente - ok
    Artes - ok
    Compras - ok
    Corte - ok
    Costura - ok
    Desenvolvimento - ok
    Embalagem - ok

   -->