<header>
    <div class="header__container bg">
        <div class="header__title">
            <h2>Sobre</h2>
        </div>

        <div class="header__back">
            <button routerLink="/">VOLTAR</button>
        </div>
    </div>
</header>

<div class="info__container">
    <div class="my-5 mb-9 text-center">
        <img class="w-75" src="../../../assets/logo.png" alt="">
    </div>

    <div>
        <div class="info__box">
        
            <h3>Versão: 1.0</h3>
            <p>Atualização: </p>
            <p>Desenvolvimento do Aplicativo dos procedimentos dos setores.</p>
            <p>Função Fale Conosco.</p>
            <p>Função Procedimentos.</p>
            <br>
            <h3>Versão: 1.1</h3>
            <p>Vinculação do formulario Kaizen.</p>
            <p>Integração e desenvolvimento de exibição dos videos. </p>
            <p>Função Ficha Técnica. </p>

        </div>

       <div class="info__text">
            <div>
                
                <h3>Versão atual: <span>1.1</span>
                </h3>
            </div>

            <div>
                
                <p>Developed By - TECNOLAB</p>
            </div>
       </div>
    </div>
</div>


